body {
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

h2, h3 {
    color: #444;
}

h4 {
    color: #999;
    font-weight: normal;
    line-height: 1px;
}

#header {
    background: url('img/header-bg.jpg');
    background-position-y: -155px;
    height: 400px;
}

#header-small {
    background: url('img/header-bg.jpg');
    background-position-y: -155px;
    height: 50px;
}

#head-bar {
    padding: 10px 160px;
}

#logo {
    display: inline-block;
    vertical-align: middle;
}

.link-button {
    background: dodgerblue;
    text-decoration: none;
    color: #eeeeee;
    padding: 7px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}

.float-right {
    float: right;
    margin-top: 5px;
}

.head-link {
    color: #fff;
    font-weight: 600;
    font-size: larger;
    text-decoration: none;
    margin-right: 15px;
}

.head-link:hover {
    color: #ddd;
}

#slogan {
    margin-top: 110px;
}

.slogan-title {
    color: #eee;
}

.slogan-text {
    color: #ddd;
}

.content {
    text-align: center;
    padding: 0 140px;
}

.content-title {
    text-align: left;
    margin-left: 20px;
}

#project-table {
    text-align:  left;
    display: inline-block;
}

.cover-image {
    width: 100%;
    border-radius: 4px;
    border-radius: 4px 4px 0 0;
}

td {

}

.description {
    padding: 10px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    background-color: white;
    margin-top: -5px;
}

.description-text {
    text-indent: 10px;
    color: #879195;
}

.green-badge {
    background: darkolivegreen;
    color: #DDD;
    padding: 5px;
    font-size: smaller;
    border-radius: 3px;
}

.green-badge a {
    color: #DDD;
    text-decoration: none;
}

.blue-badge {
    background: dodgerblue;
    color: #DDD;
    padding: 5px;
    font-size: smaller;
    border-radius: 3px;
}

.blue-badge a {
    color: #DDD;
    text-decoration: none;
}

.userpic {
    border-radius: 20px;
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
}

.author-details {
    display: inline-block;
    vertical-align: middle;
}

.add-user-info {
    color: #879195;
}

.project-footer {
    background-color: #f5f5f5;
    border-top: 1px solid #eee;
    border-radius: 0 0 4px 4px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px;
}

.username {
    color: #444;
    font-weight: 400;
    text-decoration: none;
}

.progressbar-wrapper {
    background: lightgray;
    height: 10px;
    border-radius: 10px;
}

.progressbar {
    background: darkolivegreen;
    height: 10px;
    border-radius: 10px;
}

.funded {
    display: inline-block;
    font-weight: bold;
    color: #444;
}

.target {
    display: inline-block;
    font-weight: bold;
    color: #444;
    float: right;
}

.created-at {
    display: inline-block;
    color: #444;
}

.funds {
    margin-top: 3px;
}

.time-left {
    display: inline-block;
    color: #444;
    float: right;
}

.exp-date {
    margin-top: 10px;
}
.spacer {
    height: auto;
}

.page-item {
    padding: 10px 15px;
    margin: 5px;
    text-decoration: none;
    color: #444444;
    border: 1px solid #eee;
    border-radius: 4px;
}

.page-item-active {
    background-color: dodgerblue;
    border: 1px solid transparent;
    color: #fff;
}

#footer {
    background: #eee;
    height: 100px;
    padding: 15px 160px;
    position: relative;
    margin-top: 25px;
    text-align: center;
    color: #444;
}

input[type='text'] {
    height: 25px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #f5f5f5;
    width: 300px;
    padding: 5px;
}

input[type='date'] {
    height: 25px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #f5f5f5;
    width: 300px;
    padding: 5px;
}

input[type='submit'] {
    height: 45px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: dodgerblue;
    color: #fff;
    width: 310px;
    padding: 5px;
}

textarea {
    height: 25px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #f5f5f5;
    width: 300px;
    padding: 5px;
    height: 100px;
}

.larger {
    font-size: larger;
}
label {
    font-size: larger;
    color: #444;
    font-weight: bold;
    line-height: 35px;
}

.new-form {
    text-align: left;
    margin-left: 20px;
}

.login-form {
    text-align: left;
    margin-left: 20px;
}

#filter-wrapper {
    padding: 0 20px;
}
#filter {
    background: #f5f5f5;
    padding: 10px;
    padding-right: 10px;
    text-align: left;
    border: 1px solid #eee;
    border-radius: 4px;
}

.text-left {
    text-align: left;
    text-indent: 15px;
    padding: 0 20px;
}

.regular-text {
    color: #879195;
}

.prj-big-descr {
    text-align: left;
    padding: 0 20px;
}

.prj-img-large {
    display: inline-block;
    width: 69%;
}

.prj-info {
    display: inline-block;
    width: 30%;
    float:right;
}

.img-wrapper {
    width: 100%;
}

.support-wrapper {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.support-project {
    color: #fff;
    background: dodgerblue;
    font-size: x-large;
    text-decoration: none;
    border-radius: 4px;
    padding: 7px 20px;
}

.large-description {
    margin-top: 30px;
    border-radius: 4px;
    border: 1px solid #eee;
    background: #f5f5f5;
    padding: 10px;
    text-indent: 15px;
}